.header_wrapper{
  display: flex;
  background: rgb(252,255,252);
  padding-bottom: 30px;
  padding-top: 10px;
}

h1{
  margin-left: 210px;
  text-decoration: underline;
  --b: 0.1em;   /* the thickness of the line */
  --c: #534874; /* the color */

  color: #0000;
  padding-block: var(--b);
  background:
    linear-gradient(var(--c) 50%,#000 0) 0% calc(100% - var(--_p,0%))/100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
  -webkit-background-clip: text,padding-box;
  transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
}
h1:hover{
  --_p: 100%;
  --_s: .3s;
}
.cv{
  margin-left: 210px;
  text-align: center;
  margin-top: 0px;
  font-size: 38px;
  font-style: italic;
}
.name{
  display:flex;
  flex-direction: column;
}
.text_wrapper{
  margin-top: 20px;
  margin-bottom: 20px;
  margin:0 auto;
  margin-right: 250px;

}


.flex_column{
  margin-top: 8px;
  display: flex;
  flex-direction: column;

}

.profilepic{
  height: 140px;
  margin-top: 20px;
  border-radius: 200px;
  margin-left: 250px;
  transition: transform .2s;
}

.profilepic:hover {
  transform: scale(1.5);
}


