
<app-header></app-header>



<div class="body_wrapper">

  <div class="section">


  <div class="education_wrapper" id="education">
    <div class="icon-flex">
    <img style="margin-left: -6px" src="assets/icons8-education-90.png" alt="">
    <h1 style="margin-top: 0px; margin-bottom: 0px">EDUCATION</h1>
    </div>

    <div class="segment">

      <p class="segment_head">Bachelor of Information Systems (expected: 2022)</p>
      <p>SSST University (Sarajevo School of Science and Technology)
      Bosnia and Herzegovina, Partnered with Buckingham University, UK</p>
      <p class="date">(YEAR-PRESENT)</p>

    </div>

    <div class="segment">

      <p class="segment_head">Middle School </p>
      <p>Second Grammar School Sarajevo - International Baccalaureate</p>
      <p class="date">(SEPTEMBER 2014 – JULY 2018)</p>
    </div>

  </div>



  </div>


  <div class="section" id="experience">
    <div class="icon-flex">
    <img style="height: 45px" src="assets/icons8-web-accessibility-100.png" alt="">
    <h1>EXPERIENCE</h1>
    </div>

      <p class="segment_head">Marketing and sales assistant | Mistik Parfemi</p>
      <p class="date">(JUNE 2020 – NOVEMBER 2020)</p>

    <div class="job_details">
      <p>Analyzed market demographics</p>
      <p>Helped develop online advertising marketing strategy</p>
      <p>Conducted inventory recommendations for future provisions</p>
      <p>Provided assistance to online sales department</p>
      <p>Provided assistance to human resources department</p>
    </div>
  </div>



  <div class="section" id="skills">
    <div class="icon-flex">
    <img src="assets/icons8-creativity-100.png" alt="">
    <h1>SKILLS</h1>
    </div>
    <p><strong>Collaboration skill</strong> – acquired through working in multiple projects and workshops during middle school and college</p>
    <p><strong>Advanced communication skills</strong> – developed through elective middle school </p>
    <p><strong>Time management skill</strong> – acquired through balancing work and full time education </p>
    <p><strong>C++ </strong>- learned and developed during my middle school and college education</p>
    <p><strong>Java</strong> – mostly self-taught, further developed during my college education</p>
    <p><strong>Swift on Cloud</strong>– currently learning as a beginner in mobile app development</p>
    <p><strong>Angular</strong>– Learned during the software engineering course, yet to be developed</p>

  </div>


  <div class="section" id="achievements">
    <div class="icon-flex">
    <img src="assets/icons8-achievement-96.png" alt="">
      <h1>ACHIEVEMENTS</h1>
    </div>
      <p class="segment_head">Third Place at Middle School Local C++ Programing Competition (Centar, Sarajevo)</p>
      <p>Position: Team Leader</p>
      <p class="date">(MARCH 2018)</p>

      <p class="segment_head">Fourth Place at College Local C++ Algorithm development Competition (Sarajevo) </p>
      <p>Position: Team Member</p>
      <p class="date">(APRIL 2020)</p>
  </div>

  <div class="section" id="languages">
      <div class="icon-flex">
      <img style="height: 45px" src="assets/icons8-communication-skill-100.png" alt="">
      <h1 class="inline-block">LANGUAGES</h1>
      </div>
    <div class="flex">

      <div class="language1">
      <h2>Bosnian</h2>
      <p>Writting: Proficient</p>
      <p>Speaking: Proficient</p>
      </div>

      <div class="language">
      <h2>English</h2>
      <p>Writting: Fluent</p>
      <p>Speaking: Fluent</p>
      </div>

      <div class="language">
      <h2>German</h2>
      <p>Writting: Beginner</p>
      <p>Speaking: Beginner</p>
      </div>
    </div>
  </div>
  </div>



<app-footer></app-footer>
